# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/

# Coverage
coverage/
*.lcov

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

#Project
.commands/
.project/

*.zip